html {
    margin: 0px;

}

body {
    margin: 0px;

}

header {
    background-color: rgb(6, 165, 6);
    height: 160px;
    margin: 0px;
}

.logo {
    margin: 40px 70px;
}

main {
    display: block;
    height: 522px;
}

aside {
    background-color: rgb(221, 221, 221);
    height: 100%;
    width: 230px;
    float: left;
    margin: 0px;
    text-align: center;

}

.item_general {
    padding-right: 105px;
    padding-top: 20px;
    list-style-type: none;
}

.a_item {
    text-decoration: none;
    color: blue;
}

.item_part {
    padding-bottom: 15px;
}

section {
    padding: 40px 40px 40px 270px;
    height: max-content;
}

h1 {
    margin: 0px;
    color: rgb(148, 148, 148);
    font-size: 35px;
}

p {
    margin-bottom: 10px;
}

footer {
    background: linear-gradient(rgb(233, 233, 233), rgb(117, 117, 117));
    height: 75px;
    text-align: center;
    margin-top: 0px;

}

.Lorem_general {
    list-style-type: none;
    padding-top: 25px;
    margin: 0px;
}

.Lorem_part {
    display: inline;
    padding-right: 65px;
}

.a_Lorem {
    color: black
}